# a comment - this is ignored
# ignore share lib
*/.sl*
# ignore .consign, *.d, *.so, *.eps, *.swp, all the log file and script in StRoot
*.swp
temp_gccflags.c
*/StRoot/**/.consign
*/StRoot/**/*.d
*/StRoot/**/*.so
*/StRoot/**/*.eps
*/StRoot/**/*.err
*/StRoot/**/*.log
*/StRoot/**/*.csh
*/StRoot/**/*.swp
*/*.swp
*/temp_gccflags.c
*/*_C.*
*/macro/*_C.*

McPhiResCorr/McPhi*
McPhiResCorr/*_C.*
McPhiResCorr/*.pdf
McPhiResCorr/*.eps
!McPhiResCorr/McPhiResCorr.C

CalSpinAlignment/figures/*.eps
CalSpinAlignment/figures/*.pdf
CalSpinAlignment/*_C.*

Utility/compareHistograms/*.root*
Utility/compareHistograms/compareHistograms.o
Utility/compareHistograms/compareHistograms

figures/*
!figures/c_rho00PtEnergy.eps

Embedding/*.root
